.reveal {
  background-image: url(/images/topbg.png);
  background-position: left bottom;
  @apply bg-repeat-x bg-neutral-1 pt-10 pb-12;
  .box {
    @apply md:flex-row justify-between;
    .slide {
      @apply w-9/50 lt-md:w-full;
      ul {
        @apply bg-white lt-md:(grid grid-cols-2 gap-2);
        li {
          @apply md:(b-t b-t-teal-5 b-b-none) b-b b-b-teal-5 text-teal-6;
          &:first-child {
            @apply lt-md:col-span-2;
          }
          h2 {
            @apply text-xl font-medium bg-teal-5 text-white p-4 lt-lg:text-base;
            :global(.iconify) {
              @apply inline-block mr-1;
            }
          }
          a {
            @apply block px-4 py-3 lt-lg:text-sm;
            &:hover {
              @apply text-dark-50;
            }
          }
        }
      }
    }
    .list {
      @apply md:w-4/5;
      ul {
        @apply grid md:(grid-cols-3 gap-5) grid-cols-2 gap-3;
        li {
          @apply relative overflow-hidden;
          a {
            img {
              @apply ease duration-300;
            }
            &:hover img {
              @apply scale-115;
            }
            p {
              @apply bg-dark bg-op-50 absolute bottom-0 left-0 w-full text-white text-center py-1 md:(py-3);
            }
          }
        }
      }
    }
  }
}

.notice {
  @apply bg-white;
  .box {
    @apply flex-row items-center text-teal-6 py-4;
    :global(.iconify) {
      @apply mr-4;
    }
    a:hover {
      @apply text-dark-50;
    }
  }
}

.join {
  @apply py-10;
  .box {
    .title {
      @apply flex justify-center items-center text-2xl font-semibold gap-x-6 pb-10;
      .adorn {
        @apply inline-block w-15 h-0.5 bg-teal-6;
      }
    }
    .list {
      @apply grid md:(grid-cols-4 gap-6) grid-cols-2 gap-2;
      .item {
        @apply b b-gray-3 p-1 shadow shadow-gray-3;
        &:hover {
          @apply b-gray-4 shadow-gray-4;
        }
        .top h4 {
          @apply text-teal-6 truncate;
          &:hover {
            @apply text-dark-50;
          }
        }
        p {
          @apply text-gray-5 text-sm line-clamp-2;
        }
        .details {
          @apply mx-a bg-teal-5 text-white px-4 py-2 mt-4 mb-1 text-sm;
          &:hover {
            @apply bg-dark;
          }
        }
      }
    }
  }
}

.info {
  @apply py-10;
  .box {
    @apply md:flex-row grid md:grid-cols-12 gap-8;
    .joinUs {
      @apply md:col-span-7 col-span-full;
      ul li {
        @apply flex flex-row justify-between items-center max-w-[calc(100vw-1rem)] gap-2;
        a {
          @apply py-2 flex-grow truncate;
        }
        span {
          white-space: nowrap;
          @apply text-gray text-sm;
        }
      }
    }
    .contact {
      @apply md:col-span-5 col-span-full;
      p {
        @apply mb-2;
      }
    }
  }
}

.about {
  @apply bg-gray-1 py-10;
  .box {
    @apply md:flex-row gap-8;
    & > div {
      @apply md:w-1/2;
    }
    .us {
      .content {
        @apply md:(flex-row gap-5);
        & > div {
          background-image: url(/images/defaultpic.gif);
          background-position: center;
          background-size: cover;
          @apply md:w-2/5;
          img {
            @apply op-0 w-full;
          }
        }
        & > p {
          @apply md:w-3/5 max-h-50 overflow-hidden line-clamp-8;
        }
      }
    }
    .feedback form {
      @apply flex flex-col;
      .field {
        @apply md:flex-row items-center justify-between gap-2 mb-4;
        & > input {
          @apply b b-gray-3 p-2 w-full outline-none shadow;
          &:focus {
            @apply shadow-none b-gray-4;
          }
        }
      }
      textarea {
        @apply b b-gray-3 p-2 outline-none shadow mb-4 h-25;
        &:focus {
          @apply shadow-none b-gray-4;
        }
      }
      .actions {
        @apply flex-row justify-end;
        .submit {
          @apply bg-teal-6 text-white md:(px-10 py-2) px-6 py-1;
          &:hover {
            @apply bg-teal-5;
          }
        }
      }
    }
  }
}

.reveal,
.notice,
.join,
.info,
.about {
  @apply px-2;
}

.box {
  @apply container mx-a;
}

.head {
  @apply flex-row justify-between items-center px-3 py-2 mb-4 b-b-2 b-b-gray-2 relative md:(px-4 py-3);
  h3 {
    @apply md:text-2xl text-xl;
    &::before {
      @apply content-empty w-0.75 h-6 bg-teal-6 absolute top-1/2 left-0 -mt-3;
    }
    &::after {
      @apply content-empty b-b-2 b-b-teal-6 w-30 absolute -bottom-0.5 left-0;
    }
  }
  a {
    @apply lt-lg:text-sm;
  }
}
